 <%#= render '/refinery/show_content_page' %>
<div class="home-page main">

   <div class="work-page main grid-wrap">

    <header class="grid col-full">
      <hr>
      <p class="fleft"><%= @page.title %></p>
    </header>


    <aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">
    <% if @page.content_for(:left_side_body) %>
      <%= raw @page.content_for(:left_side_body).html_safe %> 
    <% end %>
  </aside>
  
    <section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
  
    <% @page.images.each_with_index do |image, i| %>
        <figure class="">
          <%= image_tag(image.thumbnail.url) %>
        </a>
        <figcaption>
            <p><%= @page.caption_for_image_index(i).html_safe %></p>
        </figcaption>
      </figure>
    <% end %>

    </section>  
    
    
    
</div>
<!--main-->
