<div class="container">

  <!--header start-->
  <!--#include virtual="/includes/header.html" -->
  <!--header end-->


  <div class="works-page main grid-wrap">

    <header class="grid col-full">
      <hr>
      <p class="fleft">Videos</p>
    </header>


    <aside class="grid col-one-quarter mq2-col-full">
      <p class="mbottom">Watch the highlights from our latest sessions<!--Gallery Description Ends HERE-->
      </p>
    </aside>

    <!-- <section class="grid col-three-quarters mq2-col-full" style="height:400px"> -->


      <div class="grid col-one-half videos">


      <%=  @page.content_for(:body).html_safe %>




      </div>
            <!-- grid inside 3/4-->
      <!-- </section>   -->


</div>