
<!--header start-->
<!--#include virtual="/includes/header.html" -->
<!--header end-->
	<div class="contact-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Contact</p>
		</header>

		
		
		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

			<p class="mbottom">We would love to talk to you and answer all of your questions</p>
			
			<address class="mbottom">
				<h5>Russian Ballet International</h5>
				305 Graham Avenue<br >
				Brooklyn, NY, 11211<br >
				USA<br >
				<!--<a href="https://maps.google.com/maps?saddr=305+Graham+Avenue,+Brooklyn,+NY+11211&hl=en&sll=40.713216,-73.944429&sspn=0.0101,0.022681&mra=prev&t=m&z=16">Get directions</a>-->
			</address>
		
			<!--<p class="mbottom">
				718-XXX-XXXX<br >
				212-XXX-XXXX</p>-->
			<p class="mbottom">E-mail:
        <a href="mailto:contact@russianballetinternational.com">contact@russianballetinternational.com</a><br >
				<!--<a href="#">Russian Ballet International on Facebook</a><br >
				<a href="#">@RBI on Twitter</a><br >
				<a href="#">Russian Ballet International on Google+</a>
			</p>==>
			<!-- <p>
				<h6>Openning hours: </h6>
				Monday to Friday <br >
				09h00 to 17h00
			</p> -->
		
		</aside>
		
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
			<h2>Make an inquiry</h2>
			<!--<p class="warning">One of our team members will</p>-->
			
			<form id="contact_form" class="contact_form" action="contact.php" method="post" name="contact_form">	
				<ul>
					<li>
						<label for="name">Your name:</label>
						<input type="text" name="name" id="name" required class="required" >
					</li>
					<li>
						<label for="email">Email:</label>
						<input type="email" name="email" id="email" required placeholder="JohnDoe@gmail.com" class="required email">
					</li>	
					<li>
						<label for="message">Message:</label>
						<textarea name="message" id="message" cols="100" rows="6" required  class="required" ></textarea>
					</li>
					<li>
						<button type="submit" id="submit" name="submit" class="button fright">Send it</button>
					</li>	
				</ul>			
			</form>
		</section>	
		
	</div>
    <!--main-->