

	<!--header start-->
<!--#include virtual="/includes/header.html" -->
<!--header end-->


	<div class="work-page main grid-wrap">

		<header class="grid col-full">
		  <hr>
			<p class="fleft">Audition in Florence</p>
		</header>


		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

		<p>
        Ballet dancers audition for the Bolshoi Ballet Academy Summer Intensive in Florence.
<p>	
	</aside>
    
    <!--PICTURES SECTION START-->	
	
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
	
		<figure class="">
			<a href="gallery.html" name="florence-1">
			<img src="img/gallery/florence/florence-1.jpg" alt="" >
			</a>
	  <figcaption>
				<p>Our group in Florence</p>
			</figcaption>
		</figure>
		
		<figure class="">
			<a href="gallery.html" name="florence-2">
			<img src="img/gallery/florence/florence-2.jpg" alt="" >
			</a>
	  <figcaption>
				<p>Fifth Position</p>
			</figcaption>
		</figure>
    
    <figure class="">
			<a href="gallery.html" name="florence-3">
			<img src="img/gallery/florence/florence-3.jpg" alt="" >
			</a>
	  <figcaption>
				<p>First Position</p>
			</figcaption>
		</figure>  
    </section>	
		
<!--PICTURES SECTION END-->		
        
	</div>
    <!--main-->