<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="UTF-8">
    <title>Russian Ballet International &rarr; Gallery</title>
	<meta name="Description" http-equiv="Description" content="Russian Ballet International Photo Gallery" />
	<meta name="Keywords" http-equiv="Keywords" content="russian ballet international, russian ballet, bolshoi ballet academy, ballet summer program, ballet dance class in russia, russian ballet technique, ballet class in moscow" />
	
	<!-- Remove this line if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="Atlantida Bay">
	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>


<body>
<!-- Prompt IE 7 users to install Chrome Frame -->
<!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="container">

<!--header start-->
<!--#include virtual="/includes/header.html" -->
<!--header end-->


	<div class="works-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Gallery</p>
		</header>


		<aside class="grid col-one-quarter mq2-col-full">
			<p class="mbottom">
            <!--Gallery Description Starts HERE-->
            Here are some pictures from our sessions.
             <!--Gallery Description Ends HERE-->
            Click on picture to go to full session gallery.</p>
			<menu>
             <!--Gallery Tabs Starts HERE-->
				<a  id="work_all" class="arrow buttonactive">All</a><br>
                <a  id="work_3" class="arrow">Auditions in Taiwan</a><br>
				<a  id="work_2" class="arrow">Summer 2013 Sessions</a><br>
                <a  id="work_4" class="arrow">In the Class with Master Teachers</a><br>
                <!--<a  id="work_1" class="arrow">Summer 2012 Sessions</a><br>-->
                 <!--Gallery Tabs Ends HERE-->
                 
                <!--<a  id="work_2" class="arrow">Bolshoi Academy</a><br>
				<a  id="work_3" class="arrow">Cool Pix, etc.</a>-->
			</menu>
		</aside>
		
		<section class="grid col-three-quarters mq2-col-full">
		
					<div class="grid-wrap works">
		
<!--GALLERY STARTS HERE-->

<!--FIRST ROW START-->

<!--First Picture Starts HERE-->                 
                 <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_3">
					<a href="taiwan.html#taiwan-1" >
					<img src="img/gallery/taiwan/taiwan-1-IMG_0993.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="taiwan.html#taiwan-1" class="arrow">Auditions in Taiwan</a>
<p>Getting ready</p>
				  </figcaption>
				</figure>
<!--First Picture Ends HERE-->  
                
                <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_3">
					<a href="taiwan.html#taiwan-3" >
					<img src="img/gallery/taiwan/taiwan-3-IMG_0997.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="taiwan.html#taiwan-3" class="arrow">Auditions in Taiwan</a>
<p>Master teacher Ilya Ryzhakov is at work</p>
				  </figcaption>
				</figure>
                
                <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_3">
					<a href="taiwan.html#taiwan-5" >
					<img src="img/gallery/taiwan/taiwan-5-IMG_1005.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="taiwan.html#taiwan-5" class="arrow">Auditions in Taiwan</a>
<p>Our group in Taiwan</p>
				  </figcaption>
				</figure>
                
<!--FIRST ROW END--> 

<!--SECOND ROW START-->

<!--First Picture Starts HERE-->                 
                <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_2">
					<a href="summer2013.html#2013-1" >
					<img src="img/gallery/2013/1.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="summer2013.html#2013-1" class="arrow">Summer 2013 Sessions</a>
<p>Ready For Transatlantic Flight</p>
				  </figcaption>
				</figure>
<!--First Picture Ends HERE-->  
                
              <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_2">
					<a href="summer2013.html#2013-11" >
					<img src="img/gallery/2013/11.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="summer2013.html#2013-11" class="arrow">Summer 2013 Sessions</a>
<p>We Love Moscow</p>
				  </figcaption>
				</figure>
                
                <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_2">
					<a href="summer2013.html#2013-18" >
					<img src="img/gallery/2013/18.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="summer2013.html#2013-18" class="arrow">Summer 2013 Sessions</a>
<p>I Want To Dance Here!</p>
				  </figcaption>
				</figure>
                
<!--SECOND ROW END-->  
<!--THIRD ROW START-->

<!--First Picture Starts HERE-->                 
                 <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_4">
					<a href="master-teachers-class.html#mt-2">
					<img src="img/gallery/master-teachers/mt-2.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="master-teachers-class.html#mt-2" class="arrow">Master Teachers Class</a>
<p>Historical Dance</p>
				  </figcaption>
				</figure>
<!--First Picture Ends HERE-->  
                
                <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_4">
					<a href="master-teachers-class.html#mt-11">
					<img src="img/gallery/master-teachers/mt-11.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="master-teachers-class.html#mt-11" class="arrow">Master Teachers Class</a>
<p>That's The Attitude!</p>
				  </figcaption>
				</figure>
                
                <figure class="grid col-one-third mq1-col-one-half mq2-col-one-third mq3-col-full work_4">
					<a href="master-teachers-class.html#mt-19">
					<img src="img/gallery/master-teachers/mt-19.jpg" alt="" >
					<span class="zoom"></span>
					</a>
<figcaption>
						<a href="master-teachers-class.html#mt-19" class="arrow">Master Teachers Class</a>
<p>Russian Student</p>
				  </figcaption>
				</figure>
                
<!--THIRD ROW END--> 
              
                
                
<!--GALLERY ENDS HERE-->
		
		
			</div>
            <!-- grid inside 3/4-->
		
		</section>	
		
		
		
	</div>
    <!--main-->

<!--footer start-->
<div class="divide-top">
	<footer class="grid-wrap">
<!--#include virtual="/includes/footer.html" -->
	</footer>
</div>
<!--footer end-->

</div>

<!-- Javascript - jQuery -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<!--[if (gte IE 6)&(lte IE 8)]>
<script src="js/selectivizr.js"></script>
<![endif]-->

<script src="js/scripts.js"></script>

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>