<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]--><head>
	<meta charset="UTF-8">
    <title>Russian Ballet International &rarr; Bolshoi Academy Master Teachers Class Photo Gallery</title>
	<meta name="Description" http-equiv="Description" content="Bolshoi Academy Master Teachers Class Photo Gallery" />
	<meta name="Keywords" http-equiv="Keywords" content="russian ballet international, russian ballet, bolshoi ballet academy, ballet summer program, ballet dance class in russia, russian ballet technique, ballet class in moscow" />
	
	<!-- Remove this line if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="Atlantida Bay">
	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>


<body>
<!-- Prompt IE 7 users to install Chrome Frame -->
<!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="container">

	<!--header start-->
<!--#include virtual="/dev/includes/header.html" -->
<!--header end-->


	<div class="work-page main grid-wrap">

		<header class="grid col-full">
		  <hr>
			<p class="fleft">In the Class with Bolshoi Academy Master Teachers</p>
		</header>


		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

		<p>
        Our character teacher, Nina Tolstaya, had been teaching for 56 years!
<p>
Our ballet teacher, Irina Pyatkina, graduated from the Academy and was a principal dancer at the Bolshoi Theater. She is teaching us now!
<p>
They have a raked floor at Bolshoi studios. It’s kind of unusual and very cool.
		</p>
		
	</aside>
	
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
	
		<figure class="">
			<a href="gallery.html" name="mt-1">
			<img src="img/gallery/master-teachers/mt-1.jpg" alt="" >
			</a>
		</figure>
		
		<figure class="">
			<a href="gallery.html" name="mt-2">
			<img src="img/gallery/master-teachers/mt-2.jpg" alt="" >
			</a>
		</figure>
    
    <figure class="">
			<a href="gallery.html" name="mt-3">
			<img src="img/gallery/master-teachers/mt-3.jpg" alt="" >
			</a>
		</figure>
		
		<figure class="">
			<a href="gallery.html" name="mt-4">
			<img src="img/gallery/master-teachers/mt-4.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-5">
			<img src="img/gallery/master-teachers/mt-5.jpg" alt="" >
			</a>
		</figure>
		
		<figure class="">
			<a href="gallery.html" name="mt-6">
			<img src="img/gallery/master-teachers/mt-6.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-7">
			<img src="img/gallery/master-teachers/mt-7.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-8">
			<img src="img/gallery/master-teachers/mt-8.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-9">
			<img src="img/gallery/master-teachers/mt-9.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-10">
			<img src="img/gallery/master-teachers/mt-10.jpg" alt="" >
			</a>
		</figure>
        
        		<figure class="">
			<a href="gallery.html" name="mt-11">
			<img src="img/gallery/master-teachers/mt-11.jpg" alt="" >
			</a>
		</figure>
		
		<figure class="">
			<a href="gallery.html" name="mt-12">
			<img src="img/gallery/master-teachers/mt-12.jpg" alt="" >
			</a>
		</figure>
    
    <figure class="">
			<a href="gallery.html" name="mt-13">
			<img src="img/gallery/master-teachers/mt-13.jpg" alt="" >
			</a>
		</figure>
		
		<<figure class="">
			<a href="gallery.html" name="mt-14">
			<img src="img/gallery/master-teachers/mt-14.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-15">
			<img src="img/gallery/master-teachers/mt-15.jpg" alt="" >
			</a>
		</figure>
		
		<figure class="">
			<a href="gallery.html" name="mt-16">
			<img src="img/gallery/master-teachers/mt-16.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-17">
			<img src="img/gallery/master-teachers/mt-17.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-18">
			<img src="img/gallery/master-teachers/mt-18.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-19">
			<img src="img/gallery/master-teachers/mt-19.jpg" alt="" >
			</a>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="mt-20">
			<img src="img/gallery/master-teachers/mt-20.jpg" alt="" >
			</a>
		</figure>
    
    
    </section>	
		
		
		
	</div>
    <!--main-->

<!--footer start-->
<div class="divide-top">
	<footer class="grid-wrap">
<!--#include virtual="/dev/includes/footer.html" -->
	</footer>
</div>
<!--footer end-->
</div>

<!-- Javascript - jQuery -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<!--[if (gte IE 6)&(lte IE 8)]>
<script src="js/selectivizr.js"></script>
<![endif]-->

<script src="js/scripts.js"></script>

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>