<div class="work-page main grid-wrap">

	<header class="grid col-full">
	  <hr>
		<p class="fleft">In the Class with Bolshoi Academy Master Teachers</p>
	</header>


	<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

			<p>
		      Our character teacher, Nina Tolstaya, had been teaching for 56 years!
		<p>
		Our ballet teacher, Irina Pyatkina, graduated from the Academy and was a principal dancer at the Bolshoi Theater. She is teaching us now!
		<p>
		They have a raked floor at Bolshoi studios. It’s kind of unusual and very cool.
			</p>
			
	</aside>

	<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">

	<figure class="">
		<a href="gallery.html" name="mt-1">
		<img src="img/gallery/master-teachers/mt-1.jpg" alt="" >
		</a>
	</figure>
	
	<figure class="">
		<a href="gallery.html" name="mt-2">
		<img src="img/gallery/master-teachers/mt-2.jpg" alt="" >
		</a>
	</figure>
  
  <figure class="">
		<a href="gallery.html" name="mt-3">
		<img src="img/gallery/master-teachers/mt-3.jpg" alt="" >
		</a>
	</figure>
	
	<figure class="">
		<a href="gallery.html" name="mt-4">
		<img src="img/gallery/master-teachers/mt-4.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-5">
		<img src="img/gallery/master-teachers/mt-5.jpg" alt="" >
		</a>
	</figure>
	
	<figure class="">
		<a href="gallery.html" name="mt-6">
		<img src="img/gallery/master-teachers/mt-6.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-7">
		<img src="img/gallery/master-teachers/mt-7.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-8">
		<img src="img/gallery/master-teachers/mt-8.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-9">
		<img src="img/gallery/master-teachers/mt-9.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-10">
		<img src="img/gallery/master-teachers/mt-10.jpg" alt="" >
		</a>
	</figure>
      
      		<figure class="">
		<a href="gallery.html" name="mt-11">
		<img src="img/gallery/master-teachers/mt-11.jpg" alt="" >
		</a>
	</figure>
	
	<figure class="">
		<a href="gallery.html" name="mt-12">
		<img src="img/gallery/master-teachers/mt-12.jpg" alt="" >
		</a>
	</figure>
  
  <figure class="">
		<a href="gallery.html" name="mt-13">
		<img src="img/gallery/master-teachers/mt-13.jpg" alt="" >
		</a>
	</figure>
	
	<<figure class="">
		<a href="gallery.html" name="mt-14">
		<img src="img/gallery/master-teachers/mt-14.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-15">
		<img src="img/gallery/master-teachers/mt-15.jpg" alt="" >
		</a>
	</figure>
	
	<figure class="">
		<a href="gallery.html" name="mt-16">
		<img src="img/gallery/master-teachers/mt-16.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-17">
		<img src="img/gallery/master-teachers/mt-17.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-18">
		<img src="img/gallery/master-teachers/mt-18.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-19">
		<img src="img/gallery/master-teachers/mt-19.jpg" alt="" >
		</a>
	</figure>
      
      <figure class="">
		<a href="gallery.html" name="mt-20">
		<img src="img/gallery/master-teachers/mt-20.jpg" alt="" >
		</a>
	</figure>
  
  
  </section>	
	
	
	
</div>
  <!--main-->