<!--header start-->
<!--#include virtual="/includes/header.html" -->
<!--header end-->
	<div class="contact-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Contact</p>
		</header>

		
		
  <aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

			<p class="mbottom">We would love to talk to you and answer all of your questions</p>
			
			<address class="mbottom">
				<h5>Russian Ballet International</h5>
				305 Graham Avenue<br >
				Brooklyn, NY, 11211<br >
				USA<br >
				<!--<a href="https://maps.google.com/maps?saddr=305+Graham+Avenue,+Brooklyn,+NY+11211&hl=en&sll=40.713216,-73.944429&sspn=0.0101,0.022681&mra=prev&t=m&z=16">Get directions</a>-->
			</address>
		
			<!--<p class="mbottom">
				718-XXX-XXXX<br >
				212-XXX-XXXX</p>-->
			<p class="mbottom">E-mail:
        <a href="mailto:contact@russianballetinternational.com">contact@russianballetinternational.com</a><br >
    </aside>
		
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
			<h2>Thank you, your message has been received!</h2>
			<p class="warning">One of our team mebers will contact you shortly</p>
			
			
		</section>	
		
	</div>
    <!--main-->