
<!--header start-->
<!--#include virtual="/includes/header.html" -->
<!--header end-->


	<div class="work-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Summer 2012 Sessions</p>
		</header>


		<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

		<p class="mbottom">Summmer 2012 Sessions in Moscow Rusia was a success! Take a look and see for yourself.
		</p>
		<h6>Client</h6>
		<p class="halfmbottom">Inspiring ballerinas from all over the world.</p>
		
		<h6>Details</h6>
		<ul class="halfmbottom">
			<li>Ready</li>
			<li>Willing</li>
		</ul>
		
		<h6>Technology</h6>
		<ul class="halfmbottom">
			<li>Pointe</li>
			<li>Jumping</li>
			<li>Jumping higher</li>
		</ul>
		
		<h6>Links</h6>
		<ul class="mbottom">
			<li><a href="http://">Live website</a> - http://www.??.com</li>
			<li><a href="http://">Original size</a> - 6.4 Mo</li>
		</ul>
		
		<h6>Testimonial</h6>
		<blockquote>Thanks for that amazing sessions run, more than happy with the result! <br>
		  - Anna Lee, Wichita, KS</blockquote>
		
	</aside>
	
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
	
		<figure class="">
			<a href="gallery.html" >
			<img src="img/gallery/2012/main-entrance.jpg" alt="" >
			</a>
		  <figcaption>
				<p>Bolshoi Academy Main Entrance</p>
			</figcaption>
		</figure>
		
		<figure class="">
			<a href="gallery.html" >
			<img src="img/gallery/2012/group-steps.jpg" alt="" >
			</a>
            <figcaption>
				<p>Bolshoi - we've made it!</p>
			</figcaption>
		</figure>
	
    <figure class="">
			<a href="gallery.html" >
			<img src="img/gallery/2012/mens-class.jpg" alt="" >
			</a>
		  <figcaption>
				<p>Men's Session</p>
		</figcaption>
		</figure>
		
		<figure class="">
			<a name="main-stage" href="gallery.html" >
			<img src="img/gallery/2012/stage-class.jpg" alt="" >
			</a>
            <figcaption>
				<p>Main Stage</p>
		</figcaption>
		</figure>
    
    
    
    </section>	
		
		
		
	</div>
    <!--main-->