<!--header start-->
<!--#include virtual="/includes/header.html" -->
<!--header end-->


	<div class="work-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Summer 2013 Sessions</p>
		</header>


	  <aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">

		<p class="mbottom">
        Our very International group! Dancers came from USA, Finland, Haiti, Taiwan and Israel. Everyone loved Moscow!
		</p>
</aside>
	
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
	
		<figure class="">
			<a href="gallery.html" name="2013-1">
			<img src="img/gallery/2013/1.jpg" alt="Ready For Transatlantic Flight" >
			</a>
	    <figcaption>
				<p>Ready For Transatlantic Flight</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-2">
			<img src="img/gallery/2013/2.jpg" alt="Landed" >
			</a>
	    <figcaption>
				<p>Landed</p>
		  </figcaption>
		</figure>
		
        <figure class="">
			<a href="gallery.html" name="2013-3">
			<img src="img/gallery/2013/3.jpg" alt="12 Hours Later" >
			</a>
	    <figcaption>
				<p>12 Hours Later</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-4">
			<img src="img/gallery/2013/4.jpg" alt="At The Bolshoi Academy" >
			</a>
	    <figcaption>
				<p>At The Bolshoi Academy</p>
		  </figcaption>
		</figure>
    
    <figure class="">
			<a href="gallery.html" name="2013-5">
			<img src="img/gallery/2013/5.jpg" alt="Food, Finally!" >
			</a>
	    <figcaption>
				<p>Food, Finally!</p>
		</figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-6">
			<img src="img/gallery/2013/6.jpg" alt="Our Room" >
			</a>
  <figcaption>
				<p>Our Room</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-7">
			<img src="img/gallery/2013/7.jpg" alt="Character Class" >
			</a>
	    <figcaption>
				<p>Character Class</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-8">
			<img src="img/gallery/2013/8.jpg" alt="Receiving Diploma" >
			</a>
	    <figcaption>
				<p>Receiving Diploma</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-9">
			<img src="img/gallery/2013/9.jpg" alt="Group Photo" >
			</a>
	    <figcaption>
				<p>Group Photo</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-10">
			<img src="img/gallery/2013/10.jpg" alt="Russian Chocolate Factory" >
			</a>
	    <figcaption>
				<p>Russian Chocolate Factory</p>
		  </figcaption>
		</figure>
    
    
    
    <figure class="">
			<a href="gallery.html" name="2013-11">
			<img src="img/gallery/2013/11.jpg" alt="I Love Moscow" >
			</a>
	    <figcaption>
				<p>I Love Moscow</p>
		</figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-12">
			<img src="img/gallery/2013/12.jpg" alt="Famous Subway" >
			</a>
	    <figcaption>
				<p>Famous Subway</p>
		  </figcaption>
		</figure>
		
        <figure class="">
			<a href="gallery.html" name="2013-13">
			<img src="img/gallery/2013/13.jpg" alt="One Day, I Will Grow Up" >
			</a>
	    <figcaption>
				<p>One Day, I Will Grow Up</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-14">
			<img src="img/gallery/2013/14.jpg" alt="No One Is Nervous" >
			</a>
	    <figcaption>
				<p>No One Is Nervous</p>
		  </figcaption>
		</figure>
    
    <figure class="">
			<a href="gallery.html" name="2013-15">
			<img src="img/gallery/2013/15.jpg" alt="Where Are We Going?" >
			</a>
	    <figcaption>
				<p>Where Are We Going?</p>
		</figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-16">
			<img src="img/gallery/2013/16.jpg" alt="Our Group At Bolshoi Theater" >
			</a>
	    <figcaption>
				<p>Our Group At Bolshoi Theater</p>
		  </figcaption>
		</figure>
        
        <figure class=""><a href="gallery.html" name="2013-17"><a href="gallery.html" name="2013-17"><img src="img/gallery/2013/17.jpg" alt="Can I Audition For Bolshoi?" ></a></a>
          <figcaption>
				<p>Can I Audition For Bolshoi?</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-18">
			<img src="img/gallery/2013/18.jpg" alt="I Want To Dance Here!" >
			</a>
	    <figcaption>
				<p>I Want To Dance Here!</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-19">
			<img src="img/gallery/2013/19.jpg" alt="I Hear You Are Hiring!" >
			</a>
	    <figcaption>
				<p>I Hear You Are Hiring!</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-20">
			<img src="img/gallery/2013/20.jpg" alt="Real Swan Lake" >
			</a>
	    <figcaption>
				<p>Real Swan Lake</p>
		  </figcaption>
		</figure>
        
        
        
        
        <figure class="">
			<a href="gallery.html" name="2013-21">
			<img src="img/gallery/2013/21.jpg" alt="In Kremlin" >
			</a>
	    <figcaption>
				<p>In Kremlin</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-22">
			<img src="img/gallery/2013/22.jpg" alt="We Like It Here" >
			</a>
	    <figcaption>
				<p>We Like It Here</p>
		  </figcaption>
		</figure>
		
        <figure class="">
			<a href="gallery.html" name="2013-23">
			<img src="img/gallery/2013/23.jpg" alt="Our Character Master Teacher Nina Tolstaya" >
			</a>
	    <figcaption>
				<p>Our Character Master Teacher Nina Tolstaya</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-24">
			<img src="img/gallery/2013/24.jpg" alt="Our Character Master Teacher Irina Pyatkina" >
			</a>
	    <figcaption>
				<p>Our Character Master Teacher Irina Pyatkina</p>
		  </figcaption>
		</figure>
    
    <figure class="">
			<a href="gallery.html" name="2013-25">
			<img src="img/gallery/2013/25.jpg" alt="Thank You For Coming" >
			</a>
	    <figcaption>
				<p>Thank You For Coming</p>
		</figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-26">
			<img src="img/gallery/2013/26.jpg" alt="I Can't Believe Its Over!" >
			</a>
	    <figcaption>
				<p>I Can't Believe Its Over!</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-27">
			<img src="img/gallery/2013/27.jpg" alt="Let Me Text You" >
			</a>
	    <figcaption>
				<p>Let Me Text You</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-28">
			<img src="img/gallery/2013/28.jpg" alt="Russian Ice Cream!" >
			</a>
	    <figcaption>
				<p>Russian Ice Cream!</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-29">
			<img src="img/gallery/2013/29.jpg" alt="More Character" >
			</a>
	    <figcaption>
				<p>More Character</p>
		  </figcaption>
		</figure>
        
        <figure class="">
			<a href="gallery.html" name="2013-30">
			<img src="img/gallery/2013/30.jpg" alt="Centipede" >
			</a>
	    <figcaption>
				<p>Centipede</p>
		  </figcaption>
		</figure>
        
    
    </section>	
		
		
		
</div>
<!--main-->
