<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<title>Russian Ballet International → Urbino</title>
	<meta name="description" content="All About Russian Ballet International Urbino Italy Program">
	<meta name="Keywords" http-equiv="Keywords" content="russian ballet international, russian ballet, bolshoi ballet academy, Urbino ballet, ballet summer program, ballet dance class in russia, russian ballet technique, ballet class in moscow, russian ballet video" />
	<!-- Remove this line if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="Atlantida Bay">
	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/png" href="favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Prompt IE 7 users to install Chrome Frame -->
	<!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div class="container">
		<!--header start-->
		<!--#include virtual="/includes/header.html" -->
		<!--header end-->

		<div class="about-page main grid-wrap">

			<header class="grid col-full">
				<hr>
			</header>



			<aside class="grid col-one-quarter mq2-col-full">
				<h5 class="mbottom">A student-sized University in Italy</h5>

				<img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/logo1.png" style="width: 200px" align="left"/>
				
				<br><br><br>
			    
			    <img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/logo2.png" style="width: 200px" align="left"/>

			    <br><br><br>

			    <img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/logo3.png" style="width: 200px" align="left"/>

			</br>
		</aside>
		
		<section class="grid col-three-quarters mq2-col-full">
			<img src="img/about-head.jpg" alt="" >
			
			<article id="summerprogra">
				<h2>Bolshoi@Urbino</h2>
				<p>Established in 1506, today the University of Urbino has 10 faculties, mostly hosted in wonderful renaissance palaces in the city historic center. Studying within these city walls full of history, admiring ancient frescos and vaulted arches - inside spacious rooms with a door opened on the traditions of the past but still abreast of the times - is a real pleasure.</p>
				<p>
					Students who choose to study in Urbino already know they will find a student-sized city, where you can still walk anywhere you need to go, and have a direct contact with your teachers. The small size of the University allows for students to be the protagonists of their learning process.
				</p>

				<div>

					<img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/4.png">
					
					<br><br><br>		
					
					<img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/5.png">
					
					<br><br><br>

					<img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/1.png">

					<br><br><br>

					<img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/3.png">

					<br><br><br>

					<img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/2.png">

					<br><br><br>	

					<img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/6.png">
				
				</div>
				
			</article>
		</section>		

		</div> 
		<!--main-->

		<!--footer start-->
		<div class="divide-top">
			<footer class="grid-wrap">
				<!--#include virtual="/includes/footer.html" -->
			</footer>
		</div>
		<!--footer end-->

	</div>

	<!-- Javascript - jQuery -->
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<!--[if (gte IE 6)&(lte IE 8)]>
<script src="js/selectivizr.js"></script>
<![endif]-->

<script src="js/scripts.js"></script>

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>