	<div class="works-page main grid-wrap">

		<header class="grid col-full">
		  <hr>
			<p class="fleft">Videos</p>
		</header>


		<aside class="grid col-one-quarter mq2-col-full">
			<p class="mbottom">Watch the highlights from our latest sessions<!--Gallery Description Ends HERE-->
</p>
			<!--Gallery Tabs Starts HERE-->
            <!--<menu>
                <a  id="work_all" class="arrow buttonactive">All</a><br>
				<a  id="work_2" class="arrow">Summer 2013 Sessions</a><br>
                <a  id="work_1" class="arrow">Summer 2012 Sessions</a><br>
               </menu>-->
		</aside>
		
		<section class="grid col-three-quarters mq2-col-full" style="height:400px">
		
					<div class="grid-wrap works">
		
<!--YOUTUBE VIDEOS START HERE-->

<!--First Video Starts HERE-->                 
<div class="grid col-one-half">
        <iframe class="video" src="//www.youtube.com/embed/OotCV7euoQU" frameborder="0" allowfullscreen></iframe>
	   </div>
<!--First Video Ends HERE--> 
 
<div class="grid col-one-half">
<iframe class="video" src="//www.youtube.com/embed/m9sb7--QPuA" frameborder="0" allowfullscreen></iframe>
</div>
              
<!--YOUTUBE VIDEO'S END HERE-->
		</div>
            <!-- grid inside 3/4-->
</section>	
</div>
<!--main-->
