<ul class="grid col-one-third social">
 <li><a href="https://www.facebook.com/russianballetinternational">Follow us on Facebook</a></li>
 <li><a href="https://instagram.com/russianballetinternational">Follow us on Instagram</a></li>
</ul>



<nav class="grid col-one-third" style="clear:both;float:right;margin-top:-15px;width:auto;">
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="gallery.html">Gallery</a></li>
  <li><a href="sessions.html">Sessions</a></li>
  <li><a href="registration.html">Registration</a></li>
  <li><a href="videos.html">Videos</a></li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="downloads.html">Downloads</a></li>
</ul>
</nav>


<div align="center" style="margin-top:25px; clear:both;">
 <a href="#navtop" title="Go back up">&uarr;</a>
</div>