<a href="/" class="logo fleft"><img src="/img/rbi-logo-w.png" alt="Russian Ballet International"></a>

<header id="navtop">
  <nav class="fright">
    <ul>
      <li><a href="/" class="navactive">Home</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
    <ul>
      <li><a href="/gallery-section">Gallery</a></li>
      <li><a href="/sessions.html">Sessions</a></li>
    </ul>
    <ul>
      <li><a href="/registration.html">Registration</a></li>
      <li><a href="/videos">Videos</a></li>
    </ul>
    <ul>
     <li><a href="/contact.html">Contact</a></li>
     <li><a href="/downloads.html">Downloads</a></li>
   </ul>
 </nav>
</header>

